.starrating {
    /* padding: 3px 8px; */
    font-size: 14px !important;
    /* margin-top: 12px; */

    /* border: 0.3px solid #949494; */
    font-family: montserrat-semibold, sans-serif !important;
    /* line-height: 17px !important; */
    color: #303030;
}

.prices {
    /* margin-top: 20px; */
    font-family: montserrat-semibold, sans-serif !important;
   
}

/* .sizes .sizw */